body {
  background: rgb(0, 0, 18);
  color: whitesmoke;
  font-size: 1.3rem;
  

}

.anav {
  color: rgb(0, 134, 223);
  ;
}

.anav1 {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-shadow: 0px 0px 10px rgb(0, 134, 223);
  color: rgb(0, 134, 223);
  ;
}

.anav:hover {
  color: rgb(255, 255, 255);
  ;
}


/* ---- Saludo de  Bienvenida ---- */
.contenedor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}
.title-welcome {
  text-align: left;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 4em;
  color: #EBD758;
  text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
}
.contenedor2 h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}

/* -----------Profile--------------- */
.seccion2{
  margin-top: 50px;
}
.contenedor3 {
  display: flex;
  padding: 0px;
  min-height: 350px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0px 0px 10px 10px rgb(0, 134, 223);
  width: 300px;
  height: 300px;
}

.lp {
  color: rgb(0, 134, 223);
  text-align: center;
  font-size: 5em;
}
.profile-body {
  min-height: 140px;
  margin-top: 40px;
  margin-left: 40px;
  text-align: center;
}
.cv {
  text-decoration: none;
  background-color: rgb(0, 134, 223);
  text-align: center;
  color: whitesmoke;
  transition-duration: 0.5s;
}
.cv:hover {
  color: rgb(2, 65, 107);
  background-color: whitesmoke;
}
.container-profile{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
}
.profile-icons{
 
  margin-left: 10px;
  background-color: white;
  
}
/* -------Sobre Mi-------- */

.seccion3 {
  margin-top: 20%;

}

.seccion3 h3 {
  padding-bottom: 10px;
  color: rgb(0, 134, 223);
  border-bottom: 2px solid rgb(0, 134, 223);


}

.seccion3 p {
  padding:30px 30px 30px 0px;
  text-align: justify;
  margin-top: -10px;
  margin-left: 20%;
  border-right: 2px solid rgb(0, 134, 223);
  border-bottom : 2px solid rgb(0, 134, 223);
}

/* -------Habilidades----------- */
.section-skills {
  margin-top: 20%;
}
.section-skills h3 {
  color: rgb(255, 145, 0);
  text-align: end;
  border-bottom: 2px solid rgb(255, 145, 0);
  padding-bottom: 10px;
}
.body-card p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size:0.9rem;
  font-weight: bold;
}
.imagen {
  width: 40%;
}
.row-icons{
 width: 75%;
}
.card-html {
  border: none;
  box-shadow: -4px -4px 3px rgb(255, 68, 0);
  background: rgb(46, 0, 74);
  background: linear-gradient(312deg, rgba(46, 0, 74, 1) 0%, rgba(0, 34, 51, 1) 67%, rgba(0, 0, 0, 1) 100%);

}

.card-css {
  border: none;
  box-shadow: -4px -4px 3px rgb(0, 98, 255);
  background: rgb(46, 0, 74);
  background: linear-gradient(312deg, rgba(46, 0, 74, 1) 0%, rgba(0, 34, 51, 1) 67%, rgba(0, 0, 0, 1) 100%);

}

.card-bootstrap {
  border: none;
  box-shadow: -4px -4px 3px rgba(113, 0, 99, 1);
  background: rgb(46, 0, 74);
  background: linear-gradient(312deg, rgba(46, 0, 74, 1) 0%, rgba(0, 34, 51, 1) 67%, rgba(0, 0, 0, 1) 100%);
}

.card-django {
  border: none;
  box-shadow: -4px -4px 3px rgba(255, 115, 0);
  background: rgb(46, 0, 74);
  background: linear-gradient(312deg, rgba(46, 0, 74, 1) 0%, rgba(0, 34, 51, 1) 67%, rgba(0, 0, 0, 1) 100%);
}

.card-python {
  border: none;
  box-shadow: -4px -4px 3px rgb(199, 152, 0);
  background: rgb(46, 0, 74);
  background: linear-gradient(312deg, rgba(46, 0, 74, 1) 0%, rgba(0, 34, 51, 1) 67%, rgba(0, 0, 0, 1) 100%);
}

.card-java {
  border: none;
  box-shadow: -4px -4px 3px rgba(46, 0, 255);
  background: rgb(46, 0, 74);
  background: linear-gradient(312deg, rgba(46, 0, 74, 1) 0%, rgba(0, 34, 51, 1) 67%, rgba(0, 0, 0, 1) 100%);
}

.card-git {
  border: none;
  box-shadow: -4px -4px 3px rgb(255, 68, 0);
  background: rgb(46, 0, 74);
  background: linear-gradient(312deg, rgba(46, 0, 74, 1) 0%, rgba(0, 34, 51, 1) 67%, rgba(0, 0, 0, 1) 100%);
}

.card-github {
  border: none;
  box-shadow: -4px -4px 3px rgb(106, 0, 255);
  background: rgb(46, 0, 74);
  background: linear-gradient(312deg, rgba(46, 0, 74, 1) 0%, rgba(0, 34, 51, 1) 67%, rgba(0, 0, 0, 1) 100%);
}

.card-sql {
  border: none;
  box-shadow: -4px -4px 3px rgb(255, 255, 0);
  background: rgb(46, 0, 74);
  background: linear-gradient(312deg, rgba(46, 0, 74, 1) 0%, rgba(0, 34, 51, 1) 67%, rgba(0, 0, 0, 1) 100%);
}

.card-mysql {
  border: none;
  box-shadow: -4px -4px 3px rgb(11, 97, 255);
  background: rgb(46, 0, 74);
  background: linear-gradient(312deg, rgba(46, 0, 74, 1) 0%, rgba(0, 34, 51, 1) 67%, rgba(0, 0, 0, 1) 100%);
}

.card-pytorch {
  border: none;
  box-shadow: -4px -4px 3px rgb(216, 76, 0);
  background: rgb(46, 0, 74);
  background: linear-gradient(312deg, rgba(46, 0, 74, 1) 0%, rgba(0, 34, 51, 1) 67%, rgba(0, 0, 0, 1) 100%);
}

.card-react {
  border: none;
  box-shadow: -4px -4px 3px rgb(6, 255, 243);
  background: rgb(46, 0, 74);
  background: linear-gradient(312deg, rgba(46, 0, 74, 1) 0%, rgba(0, 34, 51, 1) 67%, rgba(0, 0, 0, 1) 100%);
}

.imagen-bot {
  border: none;
  box-shadow: 0px 0px 10px 5px rgb(255, 245, 245);
  border-radius: 3%;
  background-color: rgb(1, 1, 42);
}

.body-card {
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card-color {
  background-color: rgb(54, 54, 54);
  border-radius: 5%;
  border-top-left-radius: 0px;

}

.section-proyects {
  margin-top: 20%;
  min-height: 100px;
  margin-bottom: 10%;
}

@media (max-width: 576px) {
  .icon-menu{
    color: rgb(0, 134, 223);
  }
  /* ---- Saludo de Venvenida ----*/
  .title-welcome {
    font-size: 3rem;
  }

  /* ---- Profile ----*/
  .profile-body {
    
    margin-left:0px;
    
  }

  /* ---- Sobre Mí ---- */
  .seccion3 p {
    margin-left: 0%;
  }
  .seccion3 p {
    border:none;
  }
  /* ---- Habilidades ---- */
  .row-icons{
    width: 100%;
  }
}

@keyframes show {
  from {

    opacity: 5;
    scale: 90%
  }

  to {
    opacity: 1;
    scale: 100%;
  }


}

/* img{
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
}
div{
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
} */